/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #b8d0e1;
}
div{
    text-align: center;
    margin-top: 21.5%;
}